<div class="container">
    <h2>Member info</h2>
    <div class="alert alert-success" ng-if="showAlert">
        <strong>Success!</strong> Changes for the member have been saved
    </div>
    <form role="form" ng-if="!editing" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">First name:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{member.firstName}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Last name:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{member.lastName}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Email:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{member.email}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Status:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{member.memberStatus.name}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Points:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{member.points}}</p>
            </div>
        </div>
        <div class="form-group" ng-if="editable">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-click="editForm()">Edit</button>
            </div>
        </div>

    </form>

    <form role="form" ng-if="editing" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">First name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter first name" ng-model="member.firstName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Last name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter last name" ng-model="member.lastName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" placeholder="Enter email" ng-model="member.email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" ng-click="saveMember()">Save</button>
            </div>
        </div>
    </form>
</div>