<button class="btn btn-success pull-right" ng-if="isAdminPage" ng-click="openInvitationForm()">Pakviesk draugą!</button>

<table class="table">
    <thead>
    <tr>
        <th>Vardas</th>
        <th>Pavardė</th>
        <th>El. paštas</th>
        <th>Statusas</th>
        <th>Taškai</th>
        <th ng-if="isAdminPage">Narystės galiojimas</th>
        <th ></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in members">
        <td>{{x.firstName}}</td>
        <td>{{x.lastName}}</td>
        <td>{{x.email}}</td>
        <td>{{x.memberStatus.name}}</td>
        <td>{{x.points}}</td>
        <td ng-if="isAdminPage">{{x.membershipExpirationDate | date:'yyyy-MM-dd'}}</td>
        <td>
            <button class="btn btn-default" ng-click="redirectToMemberEdit(x)">Peržiūrėti</button>
            <button class="btn btn-danger" ng-if="isAdminPage" ng-click="deleteMember(x)">Ištrinti</button>
            <a class="btn btn-info" ng-if="isAdminPage" ng-href="#/admin/members/{{x.id}}/pointsGrant">Suteikti taškų</a>
        </td>
    </tr>
    </tbody>
</table>