<div class="form-inline">
    <div class="row">
        <div class="col-md-12">
            <h2>Klubo nariai</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button ng-if="search" class="btn btn-primary pull-right" ng-click="renew()">Rodyti visus narius</button>
            <button class="btn btn-info pull-right" ng-click="openSeachForm()">Ieškoti atostogaujančių narių</button>
            <button class="btn btn-success pull-right" ng-click="openInvitationForm()">Pakviesk draugą!</button>
        </div>
    </div>
</div>



<table class="table">
    <thead>
    <tr>
        <th ng-if="formFields.firstName">Vardas</th>
        <th ng-if="formFields.lastName">Pavardė</th>
        <th ng-if="formFields.email">El. paštas</th>
        <th ng-if="formFields.status">Statusas</th>
        <th ng-if="formFields.points">Taškai</th>
        <th ng-if="isAdminPage">Narystės galiojimas</th>
        <th ng-if="isAdminPage">Rezervacijos grupė</th>
        <th ></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in members">
        <td ng-if="formFields.firstName">{{x.firstName}}</td>
        <td ng-if="formFields.lastName">{{x.lastName}}</td>
        <td ng-if="formFields.email">{{x.email}}</td>
        <td ng-if="formFields.status">{{x.statusString}}</td>
        <td ng-if="formFields.points">{{x.points}}</td>
        <td ng-if="isAdminPage">{{x.membershipExpirationDate | date:'yyyy-MM-dd'}}</td>
        <td ng-if="isAdminPage">{{x.reservationGroup}}</td>
        <td>
            <button type="button" class="btn btn-success" ng-click="collectVacationData(x)" data-toggle="modal"
                    data-target="#view-vacation-info">Atostogų informacija</button>
            <button class="btn btn-default" ng-click="redirectToMemberEdit(x)">Peržiūrėti</button>
            <button class="btn btn-danger" ng-if="isAdminPage" ng-click="deleteMember(x)">Ištrinti</button>
            <a class="btn btn-info" ng-if="isAdminPage" ng-href="#/admin/members/{{x.id}}/pointsGrant">Suteikti taškų</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="view-vacation-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nario {{firstName}} {{lastName}} atostogos</h4>
            </div>
            <div class="row" ng-if="!noVacations">
                <div class="controls col-xs-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Vasarnamis</th>
                            <th>Rezervuota</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="vacationInfo in vacationInfos">
                            <td><a ng-click="closeVacationInfoModal(vacationInfo.summerhouseId)">Vasarnamis nr. {{vacationInfo.summerhouseNumber}}</a></td>
                            <td>{{vacationInfo.fromDate}} - {{vacationInfo.untilDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-body text-center" ng-if="noVacations">
                <p>Narys nėra rezervavęs vasarnamių.</p>
            </div>
        </div>
    </div>
</div>