<button class="btn btn-success pull-right" ng-click="openInvitationForm()">Pakviesk draugą!</button>

<table class="table">
    <thead>
    <tr>
        <th ng-if="formFields.firstName">Vardas</th>
        <th ng-if="formFields.lastName">Pavardė</th>
        <th ng-if="formFields.email">El. paštas</th>
        <th ng-if="formFields.status">Statusas</th>
        <th ng-if="formFields.points">Taškai</th>
        <th ng-if="isAdminPage">Narystės galiojimas</th>
        <th ></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in members">
        <td ng-if="formFields.firstName">{{x.firstName}}</td>
        <td ng-if="formFields.lastName">{{x.lastName}}</td>
        <td ng-if="formFields.email">{{x.email}}</td>
        <td ng-if="formFields.status">{{x.memberStatus.name}}</td>
        <td ng-if="formFields.points">{{x.points}}</td>
        <td ng-if="isAdminPage">{{x.membershipExpirationDate | date:'yyyy-MM-dd'}}</td>
        <td>
            <button class="btn btn-default" ng-click="redirectToMemberEdit(x)">Peržiūrėti</button>
            <button class="btn btn-danger" ng-if="isAdminPage" ng-click="deleteMember(x)">Ištrinti</button>
            <a class="btn btn-info" ng-if="isAdminPage" ng-href="#/admin/members/{{x.id}}/pointsGrant">Suteikti taškų</a>
        </td>
    </tr>
    </tbody>
</table>