<fieldset ng-disabled="isPaying">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 ng-if="!editable">Nario informacija</h2>
            <h2 ng-if="editable">Jūsų informacija</h2>
        </div>
        <div class="col-md-2" style="margin-top: 20px;"s>
            <button class="btn btn-success" data-toggle="modal" id="recommend"
                    data-loading-text="<i class='fa fa-spinner fa-spin'></i> Siunčiama rekomendacija..."
                    ng-if="candidateReview" ng-click="recommendCandidate()">Rekomenduoti šį kandidatą</button>
            <a class="glyphicon glyphicon-log-out glyphicon-lg" ng-if="candidate" href="#/logout"></a>
        </div>
    </div>
    <div class="alert alert-info" ng-if="candidate && recommendationsReceived.length == recommendationsReceivedMin">
        <strong>Sveikiname!</strong> Jūs tapote klubo nariu. Atsijunkite ir prisijunkite prie sistemos iš naujo.
    </div>
    <div class="alert alert-success" ng-if="showAlert">
        <strong>Patvirtinta!</strong> {{successMessage}}
    </div>
    <div class="alert alert-error" ng-if="showAlertError">
        <strong>Klaida!</strong> {{errorMessage}}
    </div>
    <div class="alert alert-danger fade in" ng-show="isError">
        <a href="" class="close" data-dismiss="modal">&times;</a>
        <strong>Klaida įsigyjant taškus. </strong> {{payPalErrorMessage}}
    </div>
    <form role="form" ng-if="!editing" class="form-horizontal">
        <div class="form-group" ng-if="formFields.firstName">
            <label class="control-label col-sm-2">Vardas:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{member.firstName}}</p>
            </div>
        </div>
        <div class="form-group" ng-if="formFields.lastName">
            <label class="control-label col-sm-2">Pavardė:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{member.lastName}}</p>
            </div>
        </div>
        <div class="form-group" ng-if="formFields.email">
            <label class="control-label col-sm-2">El. paštas:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{member.email}}</p>
            </div>
        </div>
        <div class="form-group" ng-if="formFields.status">
            <label class="control-label col-sm-2">Statusas:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{member.statusString}}</p>
            </div>
        </div>
        <div class="form-group" ng-if="formFields.points && !candidate">
            <label class="control-label col-sm-2">Taškai:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{member.points}}</p>
                <button class="btn btn-success" data-toggle="modal" id="update" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Atnaujinami taškai..."
                        data-target="#confirm-point-purchase" ng-if="editable">Pirkti taškų per PayPal</button>
            </div>
        </div>
        <div class="form-group">
                <label class="control-label col-sm-2">Apie:</label>
                <div class="col-sm-8">
                    <textarea placeholder="Informacija apie narį" ng-minlength="5" ng-maxlength="1000"
                          ng-model="member.about" class="form-control textarea-none" rows="3" style="background-color: white;"
                          disabled>{{member.about}}</textarea>
                </div>
        </div>
        <div class="form-group" ng-if="(editable || isAdminPage) && !candidate">
            <label class="control-label col-sm-2">Narystės galiojimo pabaiga:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{member.membershipExpirationDateString}}</p>
            </div>
        </div>
        <div class="form-group" ng-if="candidate">
            <label class="control-label col-sm-2">Išiųstos rekomendacijų užklausos:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{recommendationsRequests.length}}/{{recommendationsRequestsMax}}</p>
            </div>
        </div>
        <div class="form-group" ng-if="candidate">
            <label class="control-label col-sm-2">Gautos rekomendacijos:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{recommendationsReceived.length}}/{{recommendationsReceivedMin}}</p>
            </div>
        </div>
        <div class="form-inline col-sm-offset-2 ">
            <div class="form-group" ng-if="editable">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-click="editForm()">Redaguoti</button>
                </div>
            </div>
            <div class="form-group" ng-if="editable && !candidate">
                <div class="col-sm-10">
                    <button type="button" class="btn btn-success" ng-click="collectMembershipData()" data-toggle="modal"
                            data-target="#confirm-delete">Pratęsti narystę</button>
                </div>
            </div>
            <div class="form-group" ng-if="candidate">
                <div class="col-sm-10">
                    <button type="button" class="btn btn-success" ng-click="requestRecommendations()"
                            ng-disabled="recommendationsRequests.length >= recommendationsRequestsMax ||
                            recommendationsReceived.length >= recommendationsReceivedMin">Rekomendacijų užklausimas</button>
                </div>
            </div>
            <div class="form-group" ng-if="editable">
                <div class="col-sm-10">
                    <button type="button" class="btn btn-danger" ng-click="deactivateMember()">Išsiregistruoti iš sistemos</button>
                </div>
            </div>
        </div>

    </form>

    <form role="form" ng-if="editing" class="form-horizontal">
        <div class="form-group" ng-if="formFields.firstName">
            <label class="control-label col-sm-2">Vardas:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter first name" ng-model="member.firstName">
            </div>
        </div>
        <div class="form-group" ng-if="formFields.lastName">
            <label class="control-label col-sm-2">Pavardė:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter last name" ng-model="member.lastName">
            </div>
        </div>
        <div class="form-group" ng-if="formFields.email">
            <label class="control-label col-sm-2">El. paštas:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" placeholder="Enter email" ng-model="member.email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Apie:</label>
            <div class="col-sm-8">
                    <textarea ng-minlength="5" ng-maxlength="1000"
                              ng-model="member.about" class="form-control"
                              style="resize: vertical;">{{member.about}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" ng-click="saveMember()">Išsaugoti</button>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="confirm-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Narystės pratęsimas</h4>
            </div>
            <div class="modal-body">
                <p>Už {{memberTax}} taškų jūsų narystė bus pratęsta iki {{nextMembershipExpiration | date:'yyyy-MM-dd'}}.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                <button type="button" class="btn btn-success pull-left" data-dismiss="modal"  ng-click="renewMembership()">Pratęsti narystę</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-point-purchase">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Klubo taškų įsigijimas</h4>
                </div>
                <div class="modal-body">
                    <p>Įrašykite norimą įsigyti taškų skaičių</p>
                    <input placeholder="taškų skaičius" min="0" max="9999" style="margin: 0 auto;" class="form-control" style="width: 150px;" type="number"
                           ng-model="pointAmount" ng-change="change(pointAmount)" ng-required="true">

                    <div class="pull-left">Viso: {{eurToPay}} EUR</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="pull-left btn btn-default" data-dismiss="modal">Atšaukti</button>
                    <button class="btn btn-success pull-right" ng-disabled="!pointAmount || pointAmount == 0" id="pay" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Vykdoma..." ng-click="buyPointsWithPayPal()" >
                        Įsigyti naudojantis PayPal
                    </button>
                    <!--data-dismiss="modal"-->
                    <!--<button type="button" class="btn btn-success pull-left" data-dismiss="modal"  ng-click="buyPointsWithPayPal()">Įsigyti per PayPal</button>-->
                </div>
                <div class="alert alert-danger fade in" ng-show="isModalError">
                    <a href="" class="close" data-dismiss="modal">&times;</a>
                    <strong>Klaida įsigyjant taškus. </strong> {{payPalErrorMessage}}
                </div>
            </div>
        </div>
</div>
</fieldset>