<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Suteikti taškus nariui: {{member.firstName}} {{member.lastName}}</h3>
            <div class="alert alert-success" ng-if="showAlert">
                <strong>Patvirtinta!</strong> Taškai nariui buvo suteikti.
            </div>
            <div class="alert alert-danger" ng-if="showError">
                <strong>Klaida!</strong> Kažkas įvyko ne taip, pabandykite dar kartą.
            </div>
            <ng-form name="pointsGrantForm">
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Taškų skaičius:</label>
                        <input type="number" class="form-control" ng-model="points" ng-required="true"
                               placeholder="Įveskite taškų skaičių, kurį norite suteikti nariui"
                               min="1">
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label>Priežastis:</label>
                        <textarea rows="8" cols="100" placeholder="Įveskite priežastį, dėl kurios norite suteikti taškus"
                                  class="form-control" ng-model="description" maxlength="999"
                                  style="resize:none" aria-invalid="false"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <button ng-click="grantPoints()" ng-disabled="!pointsGrantForm.$valid" class="btn btn-success"
                        id="load" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Siunčiama...">
                    Suteikti taškus</button>
            </ng-form>
        </div>

    </div>
</div>