<div class="alert alert-success" ng-if="showAlert">
    <strong>Patvirtinta!</strong> {{successMessage}}
</div>
<div class="alert alert-danger" ng-if="showError">
    <strong>Klaida!</strong> {{errorMessage}}
</div>
<div class="form-group">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Vasarnamis nr. {{reservation.summerhouse.number}}</h2>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-hover" ng-src="{{reservation.summerhouse.image}}" alt=""
                 style="width:600px; height:250px;">
        </div>
        <div class="col-md-6">
            <h4>
                <small>Vietų skaičius:</small>
                {{reservation.summerhouse.capacity}}
            </h4>
            <h4>
                <small>Rezervacijos data:</small>
                {{reservation.fromDateString}} - {{reservation.untilDateString}}
            </h4>
            <p>{{reservation.summerhouse.description}}</p>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;padding:0px 15px 0px 15px;">
    <button class="btn btn-primary"
            style="height:34px; min-width:140px;"
            ng-click="changeReservedServices()">Keisti rezervaciją
    </button>
    <p ng-show="selectDates" class="help-block">Pasirinkite datas paslaugoms, kurias norite rezervuoti</p>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Papildomos paslaugos</h2>
        </div>
        <div class="media col-md-4 pull-left" ng-repeat="serviceReservation in additionalServiceReservations" style="height:120px;">
            <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <span ng-show="!serviceReservation.checked" class="glyphicon glyphicon-unchecked text-primary"
                                style="top: 3px;left: 15px;" ng-click="serviceReservation.checked = true"></span>
                          <span ng-show="serviceReservation.checked" class="glyphicon glyphicon-check text-primary"
                                style="top: 3px;left: 15px;" ng-click="serviceReservation.checked = false"></span>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{serviceReservation.additionalService.name}}</h4>
                <input ng-show="serviceReservation.checked"
                       type="datetime-local"
                       name="serviceReservationBegin"
                       ng-model="serviceReservation.serviceReservationStartDate"
                       min="{{getDateString(reservation.fromDate)}}"
                       max="{{getDateString(reservation.untilDate)}}"
                >
                <p>{{serviceReservation.additionalService.description}}</p>
                <p class="pull-right" style="border-top: 1px solid #eee;width: 100%;">{{serviceReservation.additionalService.price}} taškai(-as)</p>
            </div>
        </div>
    </div>

</div>
