<h2>Nustatymai</h2>
<table class="table">
    <thead>
    <tr>
        <th>Pavadinimas</th>
        <th>Reikšmė</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Maksimalus narių skaičius</td>
        <td>{{settings[0].value}}</td>
    </tr>
    <tr>
        <td>Minimalus rekomendacijų kiekis naujam nariui</td>
        <td>{{settings[1].value}}</td>
    </tr>
    <tr>
        <td>Rezervacijos atšaukimas leidžiamas likus dienoms</td>
        <td>{{settings[2].value}}</td>
    </tr>
    </tbody>
</table>
<a class="btn btn-info" ng-href="#/settings/edit">Redaguoti</a>