.content-wrapper {
    margin-bottom: 70px;
}

.textarea-none {
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    background-color: white;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}