<div class="row">
    <div class="col-md-12">
        <h2>Vasarnamiai</h2>
    </div>
</div>
<div class="form-inline">
    <div week-picker picker="weekPicker"></div>
    <a class="btn btn-success pull-right" ng-if="isAdminPage" ng-href="#/admin/houses/0">Pridėti naują namą</a>
    <a class="btn btn-success pull-right" ng-if="!isAdminPage" ng-href="#/houses/available">Ieškoti laisvų vasarnamių</a>
    <a class="btn btn-success pull-right" ng-if="isAdminPage" ng-href="#/admin/houses/available">Ieškoti laisvų vasarnamių</a>
</div>


    <div class="form-group" ng-repeat="x in summerhouses">

        <div class="row">
            <div class="col-md-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" ng-src="{{x.image}}" alt="" style="width:600px; height:250px;">
                </a>
            </div>
            <div class="col-md-6">
                <h3>Vasarnamis nr. {{x.number}}</h3>
                <h4><small>Vietų skaičius:</small> {{x.capacity}}</h4>
                <h4><small>Rezervacija galima:</small> {{x.beginPeriod}} - {{x.endPeriod}} </h4>
                <h4><small>Apmokėjimo tipas:</small> {{x.taxID.name}}</h4>
                <p>{{x.description}}</p>
                <a class="btn btn-info" ng-if="isAdminPage" ng-href="#/admin/houses/{{x.id}}">Keisti</a>
                <button class="btn btn-danger" ng-if="isAdminPage" ng-click="deleteHouse(x)">Ištrinti</button>
                <a class="btn btn-success" ng-if="!isAdminPage" ng-href="#/houses/{{x.id}}/reservation">Rezervuoti</a>
                <a class="btn btn-info" ng-if="!isAdminPage" ng-click="previewHouse(x)">Plačiau</a>
            </div>
        </div>
    </div>
<!-- /.row -->
