<div class="row">
    <div class="col-md-8">
        <h2>Summerhouses</h2>
    </div>
    <div class="col-md-4" style="margin-top: 20px;">
        <button type="button" ng-click="addEmptyHouse()" class="form-control btn btn-primary">Create</button>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Description</th>
        <th>Availability period</th>
        <th>Number</th>
        <th>Capacity</th>
        <th>Tax type</th>
        <th>Manage</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in summerhouses" ng-hide="x.id == null || x.editMode == true">
            <td>{{x.description}}</td>
            <td>{{x.availabilityPeriod}}</td>
            <td>{{x.number}}</td>
            <td>{{x.capacity}}</td>
            <td>{{x.taxID.taxTypeID.name}}</td>
            <td>
                <button class="btn btn btn-info" ng-click="editHouse(x)">Edit</button>
                <button class="btn btn-danger" ng-click="deleteHouse(x)">Delete</button>
            </td>
    </tr>
    <tr ng-repeat="x in summerhouses" ng-form name="x.houseForm" ng-show="x.id == null || x.editMode == true">
        <td>
            <div class="form-group" ng-class="{ 'has-error' : x.houseForm.descInput.$invalid && !x.houseForm.descInput.$pristine }">
                <textarea ng-minlength="5" ng-maxlength="500" name="descInput" style="width: inherit;" placeholder="Summerhouse description" style="resize: vertical;" ng-model="x.description" class="form-control" rows="1" ng-required="true"/>
                <p ng-show="x.houseForm.descInput.$error.minlength" class="help-block">Description is too short.</p>
                <p ng-show="x.houseForm.descInput.$error.maxlength" class="help-block">Description is too long.</p>
            </div>
        </td>
        <td>
            <div class="form-group" ng-class="{ 'has-error' : x.houseForm.periodInput.$invalid && !x.houseForm.periodInput.$pristine }">
                <input ng-minlength="1" ng-maxlength="11" placeholder="Availability period" style="width: inherit;"  class="form-control" type="text" ng-model="x.availabilityPeriod" name="periodInput">
                <p ng-show="x.houseForm.periodInput.$error.minlength" class="help-block">Period is too short.</p>
                <p ng-show="x.houseForm.periodInput.$error.maxlength" class="help-block">Period is too long.</p>
            </div>
        </td>
        <td>
            <div class="form-group" ng-class="{ 'has-error' : houseWithNumberExists }">
                <input placeholder="Number" min="1" class="form-control" style="width: inherit;" type="number" ng-model="x.number" name="numberInput" ng-required="true">
                <p ng-show="houseWithNumberExists" class="help-block">House with the same number exists.</p>
            </div>
        </td>
        <td>
            <input placeholder="Capacity" min="1" class="form-control" style="width: inherit;"  type="number" ng-model="x.capacity" name="capacityInput" ng-required="true">
        </td>
        <td>
            <select class="form-control" ng-model="x.taxID" ng-options="tax.taxTypeID.name for tax in taxes" ng-required="true">
                <option value="">{{x.taxID.taxTypeID.name}}</option>
            </select>
        </td>
        <td>
            <!--| filter:{ tax.id : !x.taxID.id}-->
            <button type="submit" ng-disabled="!x.houseForm.$valid" ng-click="saveHouse(x)" class="form-control btn btn-success">
                Save
            </button>
        </td>
    </tr>
    </tbody>
</table>