<beans xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">

    <interceptors>
        <class>interceptors.AuditInterceptor</class>
    </interceptors>

    <alternatives>
        <class>scheduledTasks.ReservationStrategyImplementation</class>
    </alternatives>

    <decorators>
        <class>discounts.ChristmasDiscount</class>
        <class>search.summerhouse.SummerhouseAvailabilitySearch</class>
        <class>search.summerhouse.SummerhouseCapacitySearch</class>
        <class>search.summerhouse.SummerhouseNumberSearch</class>
        <class>search.summerhouse.SummerhouseServicesSearch</class>
    </decorators>

</beans>