<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <data-source>
        <name>java:app/env/LabanorasDataSource</name>
        <class-name>org.apache.derby.jdbc.ClientXADataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>3306</port-number>
        <database-name>labanorasfriends</database-name>
        <user>labanoras</user>
        <password>1234</password>
        <property>
            <name>connectionAttributes</name>
            <value>;create=true</value>
        </property>
    </data-source>

    <env-entry>
        <env-entry-name>emailHost</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>smtp.gmail.com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>emailPort</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>587</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>emailUsername</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>LabanorasFriends@gmail.com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>emailPassword</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Laba1234</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>reccomendationTemplate</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>./src/main/resources/emailRecommendation.vm</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>invitationTemplate</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Laba1234</env-entry-value>
    </env-entry>

</web-app>
